<?xml version="1.0"?>
<config>
    <modules>
        <GC_Testimonials>
            <version>0.1.0</version>
        </GC_Testimonials>
    </modules>

    <admin>
        <routers>
            <testimonials>
                <use>admin</use>
                <args>
                    <module>GC_Testimonials</module>
                    <frontName>testimonials</frontName>
                </args>
            </testimonials>
        </routers>
    </admin>

    <frontend>
        <routers>
            <testimonials>
                <use>standard</use>
                <args>
                    <module>GC_Testimonials</module>
                    <frontName>testimonials</frontName>
                </args>
            </testimonials>
        </routers>
        <layout>
            <updates>
                <testimonials>
                    <file>testimonials.xml</file>
                </testimonials>
            </updates>
        </layout>
    </frontend>

    <global>
        <models>
            <testimonials>
                <class>GC_Testimonials_Model</class>
                <resourceModel>testimonials_resource</resourceModel>
            </testimonials>
            <testimonials_resource>
                <class>GC_Testimonials_Model_Resource</class>
                <entities>
                    <testimonials>
                        <table>testimonials</table>
                    </testimonials>
                </entities>
            </testimonials_resource>
        </models>
        <blocks>
            <testimonials>
                <class>GC_Testimonials_Block</class>
            </testimonials>
            <page>
                <rewrite>
                    <template_links>GC_Testimonials_Block_Page_Template_Links</template_links>
                </rewrite>
            </page>
        </blocks>
        <helpers>
            <testimonials>
                <class>GC_Testimonials_Helper</class>
            </testimonials>
        </helpers>
        <resources>
            <testimonials_setup>
                <setup>
                    <module>GC_Testimonials</module>
                </setup>
            </testimonials_setup>
        </resources>
    </global>
</config>